html, body {
  height: 100%;
  margin: 0;
}


.center {
  margin: auto;
  width: 40%;
  border: 3px solid #2e86c1;
  padding: 10px;
  margin-top:50px;
}


.mobile-container {
  max-width: 480px;
  margin: auto;
  /*background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;*/
}

.mobilenav {
  overflow: hidden;
  background-color: #f2f2f2;
  position: relative;
}

.mobilenav #myLinks {
  display: none;
}

.mobilenav a {
  /*color: black;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobilenav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobilenav a:hover {
  background-color: #ddd;
  color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid-child{
  padding: 20px;
}


.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.push{
  height: 50px;
  width:100%;
}
.footer {
  /* https://css-tricks.com/couple-takes-sticky-footer/ */
  height: 50px;
  background-color: black;
  width:100%;
}

/*.active {
  background-color: #04AA6D;
  color: white;
}*/
